<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css" integrity="sha512-xiunq9hpKsIcz42zt0o2vCo34xV0j6Ny8hgEylN3XBglZDtTZ2nwnqF/Z/TTCc18sGdvCjbFInNd++6q3J0N6g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script>
var SelectedRow = "";
var fontColor = "";

function highlight(row) {
    if (SelectedRow!="" && SelectedRow == row.cells[0].textContent){
      deHighlight();
      SelectedRow="";
      return
    }
    SelectedRow=row.cells[1].textContent;
    deHighlight();
    fontColor =  row.style.color;
    row.style.backgroundColor = '#003F87';
    row.style.color = '#ffffff';
    row.classList.toggle("selectedRow");
}

function deHighlight() { 
    let table = document.getElementById("mytable");
    let rows = table.rows;
    for (let i = 0; i < rows.length; i++) {
        rows[i].style.backgroundColor = "transparent";
        rows[i].style.color = fontColor;
    }
}

function MakeReservation(){
   if(!SelectedRow){ 
        alert("Select a room");
        dropdown.selectedIndex = 0;
        return;
    }
   let arrival_date = document.getElementById("arrival_date").value;
   let departure_date = document.getElementById("departure_date").value;
   location.href="/room_reservation/"+SelectedRow+'/'+arrival_date+'/'+departure_date;
}
</script>
<div class="container"style="margin-top:20" >
<h3><a href="/admin"><b> &#127968; </b></a>Free rooms</h3>
From date: <input type="text" name="arrival_date" id="arrival_date" value = "{{arrival_date}}"/> To date: <input type="text" name="departure_date" id="departure_date" value = "{{departure_date}}"/>
  <table id="mytable">
  <thead>
    <tr>
      <th style="display:none;">ID</th>
      <th>Room No.</th>
      <th>Floor</th>
      <th>Category</th>
      <th>Beds</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    % for rowid,room_no,floor,category,beds,price in rooms:
      <tr onclick="highlight(this);">
      <td style="display:none;">{{rowid}}</td>
      <td>{{room_no}}</td>
      <td>{{floor}}</td>
      <td>{{category}}</td>
      <td>{{beds}}</td>
      <td>{{price}}</td>
      </tr>
    % end
  </tbody>
  </table>
  <a class="button" href="javascript:MakeReservation()"><span class="pln">Make reservation</span></a> 
  <input type="button" value="Cancel" onclick="history.back()"/>
% include('templates/footer.tpl')
