 
  <div class="container">
  <div class="row">
     % include('templates/header.tpl',page_title='Boutique Hotel Management')
  </div>
  <div class="row">
     % include('templates/navigation.tpl')
  </div>
  <div class="row">
  <div class="column column-50">
    <p>
    A boutique hotel is a type of hotel that feels small, intimate, and quaint. 
    It typically has less than 100 rooms and offers guests an ultra-personal service. 
    </p>
    <p>
    Boutique hotels are characterized by their intimate size, stylish design, and emphasis on individualized service. 
    Unlike large hotel chains, which often adhere to standardized décor and amenities, boutique hotels pride themselves 
    on their distinctive personality and attention to detail.
    </p>
    <p>
    Boutique hotels first began appearing in the 1980s in major cities such as London, New York, and San Francisco. 
    In recent times, boutique hotels have grown in popularity, corresponding with the general public's increased interest in individualized service. 
    Many hotel chains have begun to focus on creating subsidiary hotels to establish smaller, boutique-style hotels,or in acquiring previously independent boutique hotels.
    Boutique hotels are commonly found in the city centers of London, New York City, Miami, New Orleans, and Los Angeles. 
    They are also found in resort destinations and may be furnished with amenities such as spas, yoga, and painting classes.
    </p>
    <a href="https://www.hospitalitynet.org/editorial/4010409.html" target="_blank">Read more: The Definition of Boutique Hotels</a>
    <hr>
     % include('templates/footer.tpl')
  </div>
  <div class="column column-30 column-offset-10" style="margin-top:1px">
    <img id="theImage" src="../static/img/hotel.jpg" width="1200px"/>
    <p>Boutique hotel stays true to the local culture.</p>
  </div>
  </div>
  </div>
 
  <script>
ImageSwitch=new Array();
    ImageSwitch[0]='../static/img/hotel1.jpg';
    ImageSwitch[1]='../static/img/hotel2.jpg';
    ImageSwitch[2]='../static/img/hotel3.jpg';
    ImageSwitch[3]='../static/img/hotel4.jpg';
    ImageSwitch[4]='../static/img/hotel5.jpg';
    ImageSwitch[5]='../static/img/hotel6.jpg';
    ImageSwitch[6]='../static/img/hotel7.jpg';
    ImageSwitch[7]='../static/img/hotel8.jpg';
    ImageSwitch[8]='../static/img/hotel9.jpg';

    function swapImage() 
    {
        r = Math.round(Math.random()*8);
        console.log(r);
        document.getElementById("theImage").setAttribute("src", ImageSwitch[r])
    }
    swapImage();
  </script>
  
