  % include('templates/header.tpl',page_title='')
  <div class="container">
  <div class="row">
    <div><h1>Hotel {{hotel_name}}</h1></div>
  </div>
  <div class="row">
     % include('templates/navigation.tpl')
  </div>
  <div class="row">
  <div class="column column-50">
    
    <p>
   Welcome to Boutique Hotel En Passant, your ultimate destination for a luxurious stay in the heart of Podgorica’s city center. 
   With 30 beautifully designed rooms, our hotel offers the perfect blend of comfort and style, making it the ideal choice for both business and leisure travelers.
    </p>
    <p>
    The friendly and welcoming team of Hotel En Passant is dedicated to ensuring that you have an unforgettable stay with us, 
    and we pride ourselves on providing exceptional service that goes above and beyond your expectations.
    </p>
    <hr>
     % include('templates/footer.tpl')
  </div>
  <div class="column column-30 column-offset-10" style="margin-top:1px">
    <img id="theImage" src="../static/img/hotel1.jpg" width="1200px"/>
    <p style="allign:middle">En Passant hotel stays true to the local culture.</p>
  </div>
  </div>
  </div>
 
  <script>
ImageSwitch=new Array();
    ImageSwitch[0]='../static/img/hotel1.jpg';
    ImageSwitch[1]='../static/img/hotel2.jpg';
    ImageSwitch[2]='../static/img/hotel3.jpg';
    ImageSwitch[3]='../static/img/hotel4.jpg';
    ImageSwitch[4]='../static/img/hotel5.jpg';
    ImageSwitch[5]='../static/img/hotel6.jpg';
    ImageSwitch[6]='../static/img/hotel7.jpg';
    ImageSwitch[7]='../static/img/hotel8.jpg';
    ImageSwitch[8]='../static/img/hotel9.jpg';

    function swapImage() 
    {
        r = Math.round(Math.random()*8);
        console.log(r);
        document.getElementById("theImage").setAttribute("src", ImageSwitch[r])
    }
    //swapImage();
  </script>
  
